<%= turbo_frame_tag dom_id(@temperature) do %>
    <h6>Update temperature</h6>
    <% if @procedure.present? %>
      <%= form_with model: [@procedure, @temperature],
          data: { controller: 'edit-temperature', action: 'turbo:submit-end->edit-temperature#reset' } do |form| %>
          <div class='field'>
            <p class="range-field">
              <%= form.range_field :title, :in => 0..100, :step => '.1' %>
            </p>
          <%= form.submit :'data-edit-temperature-target' => 'button', :class => 'btn m-t-10 m-b-10' %>
          </div>
            </form>
      <% end %>
    <% end %>
    <%= link_to 'Go to Procedures', procedures_path, 'data-turbo-frame': :_top, :class => 'btn' %>
  <% end %>