<%= turbo_frame_tag dom_id(@temperature) do %>
    <h6>Editing Comment</h6>
    <% if @procedure.present? %>
    <%= form_with model: [@procedure, @temperature],
        data: { controller: 'reset-form', action: 'turbo:submit-end->reset-form#reset' } do |form| %>
        <div class='field'>
          <p class="range-field">
            <%= form.range_field :title, :in => 0..100, :step => '.1' %>
          </p>
        <%= form.submit :'data-reset-form-target' => 'button', :class => 'btn m-t-10 m-b-10' %>
        </div>
          </form>
    <% end %>
    <% end %>
    <%= link_to 'Back', procedures_path, 'data-turbo-frame': :_top %>
    <% end %>