<p id="notice"><%= notice %></p>
<%= turbo_stream_from @ticket %>

<%= turbo_frame_tag dom_id(@ticket) do %>
  <%= render @ticket %>
  <%= link_to 'Edit', edit_ticket_path(@ticket) %> |
  <%= link_to 'Back', tickets_path, 'data-turbo-frame': :_top %>
<% end %>

<div id='comments'>
  <h2>Comments</h2>
  <%= render @ticket.comments %>
</div>

<%= link_to 'New Comment', new_ticket_comment_path(@ticket) %>
<%= turbo_frame_tag 'new_comment', src: new_ticket_comment_path(@ticket), target: :_top %>
<%= turbo_frame_tag 'custom-button-controller' do %>
  <div data-controller="custom-button">
    <button data-custom-button-target="button" data-action="click->custom-button#reset">
      Greet
    </button>
    <span data-custom-button-target="output">
    </span>
  </div>
<% end %>