<!DOCTYPE html>
<html>
  <head>
    <title>Medic</title>
    <meta name="color-scheme" content="dark light">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>
    <%= turbo_include_tags %>
    # if using StimulusJS in Webpacker
    <%# stimulus_include_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body class="">
    <%= render partial: 'layouts/navbar'%>
    <div class="container">
      <%= yield %>
    </div>
    <script>
      M.AutoInit()
  </script>
  </body>
</html>
