<!DOCTYPE html>
<html>
  <head>
    <title>Medic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>
    <%= turbo_include_tags %>
    # if using StimulusJS in Webpacker
    <%# stimulus_include_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body class="grey darken-4 white-text">
    <%= render partial: 'layouts/navbar'%>
    <div class="container">
      <%= yield %>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
        var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems);
      });
  </script>
  </body>
</html>
